
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="border-right sidebar-wrapper text-left" id="sidebar-wrapper">
      <div class="sidebar-heading">Administrador</div>
      <div class="list-group list-group-flush text-left">
        <a [routerLink]="['/panel/usuarios']" class="item" (click)="click()"><i class="fad fa-user mr-2"></i> Usuarios</a>
        <a [routerLink]="['/panel/usuarios-2']" class="item" (click)="click()"><i class="fad fa-user mr-2"></i> Usuarios 2</a>
        <a  class="item exit" data-toggle="modal" (click)="logout()"><i class="fal fa-sign-out-alt mr-2"></i> Cerrar Sesión</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg border-bottom navbar">
        <button class="btn btn-toggle" (click)="toggle()" id="menu-toggle"><i class="fas fa-bars"></i></button>
      </nav>

      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>



